html 
    head 
        title Home page
    body
        h1 Number of generated tickets: #{countTickets}
        ul 
            li: h1: a(href='/', title='Home') Home
            if loggedIn
                li: a(href='/logout', title='Logout') Logout 
            else
                li: a(href='/login', title='Login') Login